@{
    ViewData["Title"] = "Task List";
}

@model List<TaskList>

<section style="display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr;">
    <div style="">
        @foreach (var x in Model)
        {
            <h1>@x.Title</h1>
        }
    </div>
    <div>
        @foreach (var x in Model)
        {
            <h1>@x.Title</h1>
        }
    </div>
    <div>
        @foreach (var x in Model)
        {
            <h1>@x.Title</h1>
        }
    </div>
    <div>
        @foreach (var x in Model)
        {
            <h1>@x.Title</h1>
        }
    </div>

</section>